<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
</head>
<body>
  <h1>Update Order</h1>
  <form method="POST">
    <div>
    <label for="email">Email: </label>
    <input type="text" class="form-control" id="email" name="email">
    </div>
    <div>
    <label for="totalPrice">Price: </label>
    <input type="number" class="form-control" id="totalPrice" name="totalPrice">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</body>
</html>